@import "flex_mixin";

main {
  .main {
    .display_flex();
    justify-content: space-around;
    margin-top: 40px;

    > article {
      width: 300px;

      > a {
        text-decoration: none;

        font-size: 1.3em;

        &:hover {
          cursor: pointer;
          color: #fff;
        }

        > div {
          border: 1px solid #999;
          padding: 20px;

          &:hover {
            background-color: #337ab7;
          }
        }
      }

      > ul {
        margin-top: 20px;
        display: none;

        > li {
          margin-top: 10px;
        }
      }
    }
  }
}